.wrapper {
    text-align: center;
    border: 1px solid;
    width: 100px;
    margin: 0 auto;
    background-color: #ff7f50;
    height: 150px;
    margin-top: 10px;
    margin-left: 20px;
  }
 .first-wrapper{
    border-radius: 20px;
 }
 .second-wrapper{
    padding: 10px;
 }